/* Global Variables*/

$main-html-font: 62.5%;
$general-font-size: 2rem;
$header2-font-size: 4.8rem;
$header3-font-size: 3rem;
$general-header-font-size: 2.8rem;
$button-style-padding: 2rem 6rem;
$button-style-bg-color: #4c6e97;
$button-style-font-size: 1.8rem;
$button-cursor-type: pointer;
/* Global styles */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: $main-html-font;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

li,
button,
label,
input,
p {
  font-size: $general-font-size;
}

h2 {
  font-size: $header2-font-size;
}

h3 {
  font-size: $header3-font-size;
  font-weight: normal;
}

h4,
h5 {
  font-size: $general-header-font-size;
}
