#hero {
  min-height: 90vh;
  /*rbga if you want the adjustment of opacity */
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent),
    url("../images/landing-page.jpg");
  /*This will resize the image automatically*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;

  h3 {
    padding: 2%;
  }

  button {
    color: white;
    background: rgb(114, 137, 163);
    border: none;
    padding: $button-style-padding;
    font-size: $button-style-font-size;
    cursor: pointer;
    transition: background 1s ease-in-out;
  }

  /* Transition will look at the hover and the property e.g., background */

  button:hover {
    background: #27394e;
  }
}
